{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "parserOptions":  {
        "ecmaVersion":  2018,  
        "sourceType":  "module" 
      },
    "extends": [
      "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint", 
    "plugin:prettier/recommended"
    ],
    "rules": { 
      "no-console": 1,
      "@typescript-eslint/explicit-module-boundary-types": "off",
      "@typescript-eslint/no-explicit-any": "off",
      "prefer-rest-params": "off",
      "@typescript-eslint/ban-types": "off"
    }
}
  